* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.code-block {
  flex-basis: 430px;
  flex-grow: 1;
  flex-shrink: 0;
}

.code-block-tag {
  color: rgb(112, 75, 112);
  margin: 0;
  padding-left: 150px;
  font-size: 16px;
}

pre {
  margin: 0;
}
